@font-face {
    font-family: 'SFProDisplay-Regular';
    src: url('./../fonts/SFProDisplay-Regular.woff2') format('woff2'),
        url('./../fonts/SFProDisplay-Regular.woff') format('woff'),
        url('./../fonts/SFProDisplay-Regular.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFProDisplay-Bold';
    src: url('./../fonts/SFProDisplay-Bold.woff2') format('woff2'),
        url('./../fonts/SFProDisplay-Bold.woff') format('woff'),
        url('./../fonts/SFProDisplay-Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}


  
