//	Headings
h1, h2, h3, h4, h5, h6
  color: $clr-bra-bla
  margin: 0


h1
  font-family: SFProDisplay-Regular;
  font-size: 64px;
  line-height: 76.8px;
h2 
  font-family: SFProDisplay-Bold;
  font-size: 48px;
  line-height: 57.6px;
h3
  font-family: SFProDisplay-Regular;
  font-size: 32px;
  line-height: 38.4px;
h4
  font-family: SFProDisplay-Bold;
  font-size: 24px;
  line-height: 28.8px;


// Basic Text Style
Body, p
  font-size: 16px
  line-height: 1.5
  font-family: SFProDisplay-Regular;
  -webkit-font-smoothing: antialiased
  -webkit-text-size-adjust: 100%
  color: $clr-bra-bla

.caption, small, caption
  font-family: SFProText-Regular;
  font-size: 10px;
  line-height: 12px;

em
  font-style: italic

strong
  font-weight: bold

hr
  border: solid #ddd
  border-width: 1px 0 0
  clear: both
  margin: 10px 0 30px
  height: 0




