.banner
  background: $clr-bra-bla
  display: grid
  align-items: center
  height: 50px
  .column
    display: flex
    justify-content: space-between
  a
    margin: $pad-tin
    color: $clr-lay-whi
  &--closed
    max-height: 0px

